<%- include ./include/header.ejs %>
<%- include ./include/nav.ejs %>

<button class="autoplay hidden"><span class="auto_stop hidden">&#x025FC;</span><span class="auto_play hidden">&#9658;</span>AUTOPLAY</button>

<div class="disable hidden"></div>

<main>

    <div class="inner">

        <section id="main-content" class="team-container">
            <% if(teams.length < 1){ %>
            <h2>Don't have any teams yet?</h2>
            <p>Add one <a href="/get_token"><strong>here</strong></a>!</p>
            <% } else { %>
            <div id="usersListContainer">
                <div class="usersList" id="usersList">
                    <% teams.forEach(function(el,i){ %>
                    <article id="<%= el._id %>" class="signleUser " style="border-color:<%= el.counters.color %>">
                        <a href="/user/<%= el._id %>" data-link="">
                            <img data-avatar="" src="<%= el.team.team.icon.image_44 %>" alt="">
                            <h2 data-email=""><%= el.team.team.name %> (<strong><%= el.counters.total %></strong>)</h2>
                            <p data-name=""><em>checked (<strong><%= el.counters.totalChecked %>/<%= el.counters.total %></strong>)<% if(el.counters.hackedPercent != 'NaN'){ %><br>hacked (<strong><%= el.counters.hackedPercent %>%</strong>)<% }; %></em></p>
                        </a>
                    </article>
                    <% }) %>
                </div>
            </div>
            <% } %>
        </section>

    </div>
</main>

<script>

    // register(SERVICE_WORKER_URL)
    // register('/sw.js')

    // var currentServiceWorker = null;
    // navigator.serviceWorker.register('/sw.js').then(function(serviceWorkerRegistration) { 
    //     if (navigator.serviceWorker.controller) {
    //         currentServiceWorker = navigator.serviceWorker.controller;
    //     } else {
    //         currentServiceWorker = serviceWorkerRegistration.active;
    //     }
    // });

    // function send_message_to_sw(msg){
    //     currentServiceWorker.postMessage("Client 1 says '"+msg+"'");
    // }

    if('serviceWorker' in navigator){
        // Handler for messages coming from the service worker
        navigator.serviceWorker.addEventListener('message', function(event){
            // console.log(event.data);
            // event.ports[0].postMessage("Client 1 Says 'Hello back!'");
        });
    }

    // send_message_to_sw('hoi')
</script>

<%- include ./include/footer.ejs %>